body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  border-radius: 5px;
}

#result {
  margin-top: 20px;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}